<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="yes" name="apple-touch-fullscreen">
  <meta content="telephone=no,email=no" name="format-detection">
  <title></title>
  <script>
    var baseWidth = 375;
    if (/Android (\d+\.\d+)/.test(navigator.userAgent)) {
      var version = parseFloat(RegExp.$1);
      if (version > 2.3) {
        var phoneScale = parseInt(window.screen.width) / baseWidth;
        document.write('<meta name="viewport" content="width=' + baseWidth + ', minimum-scale = ' + phoneScale + ', maximum-scale = ' + phoneScale + ', target-densitydpi=device-dpi">');
      } else {
        document.write('<meta name="viewport" content="width=' + baseWidth + ', target-densitydpi=device-dpi">');
      }
    } else {
      document.write('<meta name="viewport" content="width=' + baseWidth + ', user-scalable=no, target-densitydpi=device-dpi">');
    }
  </script>
</head>
<body>
  <div id='root'>
    
  </div>
  <div class="dialog" style="display: none">
    <div class="dialog-mask">
      <div class="dialog-body">
        <p class='dialog-msg'></p>
        <div class='dialog-btn'>
          <span class='dialog-confirm'></span>
          <span class='dialog-cancel'></span>
        </div>
      </div>
    </div>
  </div>
</body>
</html>