body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    margin: 0;
    padding: 0
}

body,
button,
input,
select,
textarea {
    font: 13px/1.5 tahoma, "Microsoft YaHei", "微软雅黑", arial, \5b8b\4f53;
    -webkit-tap-highlight-color: transparent;
}

img {
    border: 0;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic
}

a {
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

ul,
li,
ol {
    list-style: none outside none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

button,
input,
select,
textarea {
    margin: 0;
    outline: 0 none;
    margin: 0;
    font-size: 100%;
    vertical-align: middle
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: none
}

button,
input {
    *overflow: visible;
    line-height: normal
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
}

label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
    cursor: pointer;
    *overflow: visible
}

input[type="checkbox"],
input[type="radio"],
.form-radio,
.form-checkbox {
    box-sizing: border-box;
    padding: 0;
    *height: 13px;
    *width: 13px
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px 18px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0;
    white-space: normal;
    *margin-left: -7px
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

button {
    background-color: transparent;
    border-style: none;
    padding: 0;
}

button:active {
    background-color: transparent;
}

html,
body,
#root {
    height: 100%;
}

#root {
    overflow: auto;
}

html {
    overflow-x: hidden;
}

body {
    width: 375px;
    margin: 0 auto !important;
    overflow: hidden;
    font-family: sans-serif;
    -webkit-overflow-scrolling: touch;
}